{% extends 'components/layouts/panel_layout.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block pageTitle %}Dashboard{% endblock %}

{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h2>Welcome {{ app.user.email }}!</h2>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}

