{% extends 'components/container.html.twig' %}

{% block title %}Assigned Tickets{% endblock %}

{% block content %}
<table 
        id="datatable-attachments"
        class="table table-striped table-bordered dt-responsive nowrap"
        cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.createdAt|date('Y-m-d H:i') }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

