{% extends 'components/container.html.twig' %}

{% block title %}Member Details{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Member Details</h4>
        <p><strong>Email:</strong> {{ member.email }}</p>
        <p><strong>Roles:</strong> {{ member.roles|join(', ') }}</p>
        {% if member.isSuperAdmin %}
            <strong class="badge badge-primary">Super Admin</strong>
        {% endif %}
    </div>
</div>
{% endblock %}

