<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- PNotify -->
    <!-- PNotify -->
    <link href="/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <style>
      .pnotify-success {
        background-color: #d4edda !important;
        color: #155724 !important;
      }
      .pnotify-error {
        background-color: #f8d7da !important;
        color: #721c24 !important;
      }
      .pnotify-warning {
        background-color: #fff3cd !important;
        color: #856404 !important;
      }
      .pnotify-info {
        background-color: #d1ecf1 !important;
        color: #0c5460 !important;
      }
    </style>

    <style>
      .pnotify-success {
        background-color: #d4edda !important;
        color: #155724 !important;
      }
      .pnotify-error {
        background-color: #f8d7da !important;
        color: #721c24 !important;
      }
      .pnotify-warning {
        background-color: #fff3cd !important;
        color: #856404 !important;
      }
      .pnotify-info {
        background-color: #d1ecf1 !important;
        color: #0c5460 !important;
      }
    </style>

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">

    {% block headerStyles %}{% endblock %}
    {% block headerScripts %}{% endblock %}

    {% block headerStyles %}{% endblock %}
    {% block headerScripts %}{% endblock %}
  </head>

  <body class="nav-md footer_fixed">
  <body class="nav-md footer_fixed">
    <div class="container body">
      <div class="main_container">
        {% include "components/sidebar.html.twig" %}

        <!-- top navigation -->
        {% include "components/topnav.html.twig" %}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" 
        role="main">
          <div style="min-height: 100vh; padding-top: 40px; padding-bottom: 40px;">
              {% block body %}{% endblock %}
          </div>
        <div class="right_col" 
        role="main">
          <div style="min-height: 100vh; padding-top: 40px; padding-bottom: 40px;">
              {% block body %}{% endblock %}
          </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer class="footer_fixed border-top">
          <div class="pull-right border-t" style="padding-right: 60px;">
            Ticketing! - Made with <i class="fa fa-heart"></i> by <a href="#">Teams of 2</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
        <!-- footer content -->
        <footer class="footer_fixed border-top">
          <div class="pull-right border-t" style="padding-right: 60px;">
            Ticketing! - Made with <i class="fa fa-heart"></i> by <a href="#">Teams of 2</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>



    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>


    <!-- PNotify -->
    <script src="/vendors/pnotify/dist/pnotify.js"></script>
    
    
    <script>
      $(document).ready(function () {
          {% for label, messages in app.flashes %}
              {% for message in messages %}
                  new PNotify({
                      title: '{{ label|capitalize }}',
                      text: '{{ message }}',
                      type: '{{ label }}',
                      styling: 'bootstrap3',
                      delay: 5000, // Notification will disappear after 5 seconds
                      addclass: 'pnotify-' + '{{ label }}' // Custom class for styling
                  });
              {% endfor %}
          {% endfor %}
      });
    </script>

    {% block footerStyles %}{% endblock %}
    {% block footerScripts %}{% endblock %}

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.js"></script>s

    {% block footerStyles %}{% endblock %}
    {% block footerScripts %}{% endblock %}

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.js"></script>s
  </body>
</html>
